<div class="mypage-edit min-vh-100" style="background-color:#FDF5E6; margin-left: 20px;"> <!-- 左に余白を追加 -->
  <h1 class="text-center mb-4 pt-5">会員情報編集</h1>
  <div class="offset-1 col-10">
  <%= form_with model: @customer, url: customer_path(@customer), method: :patch, local: true do |f| %>
    <% render "customer/shared/error_messages", resource: @customer %>
    
    <div class="row" style="margin-left: 20px;"> <!-- 左に余白を追加 -->
      <label class="col-lg-3">名前</label>
      <div class="col-lg-3">
        <%= f.text_field :last_name, class: "form-control", autofocus: true, autocomplete: "last_name", placeholder: "令和" %>
      </div>
      <div class="col-lg-3">
        <%= f.text_field :first_name, class: "form-control", autofocus: true, autocomplete: "first_name", placeholder: "道子" %>
      </div>
    </div><br>

    <div class="row" style="margin-left: 20px;"> <!-- 左に余白を追加 -->
      <label class="col-lg-3">電話番号（ハイフンなし）</label>
      <div class="col-lg-3">
        <%= f.text_field :phone_number, class: "form-control", autofocus: true, autocomplete: "phone_number", placeholder: "0000000000" %>
      </div>
    </div><br>

    <div class="row" style="margin-left: 20px;"> <!-- 左に余白を追加 -->
      <label class="col-lg-3">メールアドレス</label>
      <div class="col-lg-3">
        <%= f.text_field :email, class: "form-control", autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
      </div>
    </div><br>

    <div class="row" style="margin-left: 20px;"> <!-- 左に余白を追加 -->
      <div class="col-lg-3"></div>
      <div class="col-lg-9">
        <%= f.submit "変更を保存", class: "btn btn-success btn-lg" %>
        <%= link_to '退会する', withdraw_customers_path, method: :get, class: 'btn btn-danger btn-lg ml-3' %>
      </div>
    </div>
  <% end %>
  </div>
</div>
