<div class="text-center">
  <%= stylesheet_link_tag 'cafedatepage', media: 'all' %>
  <div class="cafedate-indexall min-vh-100">
  <div class="container">
    <h1><%= params[:pin_type] == 'go_schedule' ? '行きたいカフェ一覧' : '行ったカフェ一覧' %></h1>
    <div class="album py-5 bg-light">
      <div class="row">
      <% @cafedates.each do |cafedate| %>
        <div class="col-md-4">
          <%= image_tag cafedate.get_image, class: "index-cafedate rounded-circle shadow-sm" %>
          <div style="font-size: 25px;">
            <%= link_to cafedate.name, cafedate_path(cafedate) %>
          </div>
          <%= cafedate.created_at.strftime('%Y/%m/%d') %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
  </div>
</div>

