
<div class="cafedate-show">
  <%= stylesheet_link_tag 'cafedatepage', media: 'all' %>
  <div class="text-center" style="margin-left: 600px; margin-top: 200px">
    <div class="card-text" style="font-size: 18px;">
      <%= image_tag @cafedate.get_image, style: "width: 200px; height: 200px; object-fit: cover;" %>
      <P><i class="fa-solid fa-map-pin"></i>：
           <%= link_to edit_cafedate_path do %>
             <%= @cafedate.pin_type %>
           <% end %>
      </P>
      <p><i class="fa-solid fa-location-dot"></i>：<%= @cafedate.address %></p>
      <p><i class="fa-solid fa-shop"></i>：<%= @cafedate.name %></p>
      <p><i class="fa-solid fa-shoe-prints"></i>：<%= @cafedate.desctiption %></p>
    </div>
    <p>投稿日：<%= @cafedate.created_at.strftime('%Y/%m/%d') %></p>
    <% if @cafedate.customer_id == current_customer %>
      <%= link_to "Edit", edit_cafedate_path(@cafedate.id), class: "btn btn-xs btn-success" %>
      <%= link_to '削除', cafedate_path(@cafedate), method: :delete, data: { confirm: '本当に削除しますか？' } %>
    <% end %>
    <br>
    <%= link_to "戻る", maps_path %>&emsp;
  </div>
</div>


