<div class="container">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-md-6">
      <h1 class="text-center mb-4">管理者ログイン</h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "mb-5"}) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="mb-3">
          <label for="inputEmail" class="form-label">メールアドレス</label>
          <%= f.text_field :email, class: "form-control", id: "staticEmail" %>
        </div>

        <div class="mb-3">
          <label for="inputPassword" class="form-label">パスワード</label>
          <%= f.password_field :password, class: "form-control", id: "inputPassword" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="mb-3 form-check">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me, class: "form-check-label" %>
          </div>
        <% end %>

        <div class="mb-3 text-center">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <%= render "admin/shared/links" %>
    </div>
  </div>
</div>
