<div class="toppage">
  <div class="text-center">
  <% if notice %>
    <p id="notice" class="custom-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p id="alert" class="custom-alert"><%= alert %></p>
  <% end %>
    <%= stylesheet_link_tag 'toppage', media: 'all' %>
    
      <div class="text-right min-vh-100">
          <div class="bg_test" style="margin-right: 20px;">

            <%= link_to "About", about_path, class: "btn btn-secondary btn-lg", tabindex: "-1", role: "button", "aria-disabled" => "false" %>

            <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-secondary btn-lg", tabindex: "-1", role: "button", "aria-disabled" => "false" %>

            <%= link_to "ログイン", new_customer_session_path, class: "btn btn-secondary btn-lg", tabindex: "-1", role: "button", "aria-disabled" => "false" %>

            <%= link_to 'ゲストログイン（閲覧用）', customer_guest_sign_in_path, method: :post , class: "btn btn-secondary btn-lg", tabindex: "-1", role: "button", "aria-disabled" => "false" %>

            <% if customer_signed_in? %>
          　　  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete , class: "btn btn-secondary btn-lg", tabindex: "-1", role: "button", "aria-disabled" => "false" %>
            <% end %>

        </div>
      </div>
  </div>
</div>