<div class="text-center">
  <%= link_to "ブログ一覧へ戻る", blogs_path %>
  <h2>コメントする</h2>
    <%= form_with model: [@blog, @blog_comment],url: blog_comments_path(@blog.id) do |f| %>
      <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
  
  <h1>この投稿のコメント一覧</h1>
  <% @blog.blog_comments.each do |blog_comment| %>
    <div>
      <%= blog_comment.customer.first_name %>
      <%= blog_comment.created_at.strftime('%Y/%m/%d') %><%= blog_comment.comment %>
      <%= link_to '削除', blog_comment_path(id: blog_comment.id), method: :delete, data: { confirm: '本当に削除しますか？' } %>
    </div>
  <% end %>
</div>



