<div class="text-center">
  <%= link_to "マイブログ", my_blogs_blogs_path(current_customer) %><br>
  <%= link_to "投稿フォーム", new_blog_path %><br>
  <%= link_to "Topページへ戻る", root_path %>
  <% @all_blogs.each do |blog| %>
    <div>
      <%= image_tag blog.get_image %>
      <p>店名：<%= blog.name %></p>
      <p>コメント：<%= blog.description %></p>
      <p>ユーザーネーム：<%= blog.customer.first_name %></p>
      <p>コメント数: <%= link_to blog.blog_comments.count, blog_comments_path(blog) %></p>
    </div>
    <!--いいね機能-->
    <div id="favorite_buttons_<%= blog.id %>">
      <%= render "customer/favorites/favorites", blog: blog %>
    </div>
  <% end %>
</div>

