<div class="blog-show">
  <%= stylesheet_link_tag 'blogpage', media: 'all' %>
  <div class="show-text-center">
    <h1>MYBlog</h1>
    <div class="show-card-text">
      <%= image_tag @blog.get_image, class: "rounded-circle" %>
      <p>店名：<%= @blog.name %></p>
      <p>コメント：<%= @blog.description %></p>
      <div class="d-inline">
        <p><i class="fa-regular fa-comment"></i> 
          <%= link_to @blog.blog_comments.count, blog_comments_path(@blog) %>&emsp;
        <i class="fa-regular fa-heart"></i>&nbsp;
          <%= @blog.favorites.count %>
        </p>
      </div>
    </div>
    <p>投稿日：<%= @blog.created_at.strftime('%Y/%m/%d') %></p>
    <% if @blog.customer == current_customer %>
      <%= link_to "Edit", edit_blog_path(@blog.id), class: "btn btn-xs btn-success" %>
      <%= link_to '削除', blog_path(@blog), method: :delete, data: { confirm: '本当に削除しますか？'}, class: "btn btn-xs btn-danger" %>
    <% end %>
    <br><br><br>
    <%= link_to "戻る", my_blogs_blogs_path %>&emsp;
    <%= link_to "みんなの投稿を見る", blogs_path %>
  </div>
</div>
