<div class="text-center">
  <h1>ブログ詳細ページ</h1>
  <%= image_tag @blog.get_image %>
  <p>店名：<%= @blog.name %></p>
  <p>コメント：<%= @blog.description %></p>
  <p>ユーザーネーム：<%= @blog.customer.first_name %></p>
  <p>投稿日：<%= @blog.created_at.strftime('%Y/%m/%d') %></p>
  
  <% if @blog.customer == current_customer %>
  <%= link_to "Edit", edit_blog_path(@blog.id), class: "btn btn-sm btn-success" %>
  <% end %>
</div>

