
<div class="text-center min-vh-100" style="background-color:#D2B48C">
  <div id="notice"><%= notice %></div>
  <div id="alert"><%= alert %></div>
  <%= stylesheet_link_tag 'blogpage', media: 'all' %>
  <div>
    <h1><%= @customer.last_name %> さんの投稿一覧</h1>
  </div>
  <%= link_to "投稿一覧ページに戻る", admin_path, style: "padding-bottom: 30px" %>
  <div class="row" style="margin-top: 30px">
    <% @customer.blogs.each do |blog| %>
      <div class="col-12 mb-4">
        <div class="card shadow-sm square-card" style="width: 100%; max-width: 500px; margin: 0 auto;">
          <%= image_tag blog.get_image, style: 'width: 100%; height: auto; object-fit: cover;' %>
          <div class="card-body custom-text">
            <div class="card-text" style="font-size: 18px;">
              <p><i class="fa-solid fa-shop"></i>：<%= link_to blog.name, admin_blog_path(blog) %></p>
              <p><i class="fa-solid fa-shoe-prints"></i>：<%= blog.description %></p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center" style="font-size: 20px;">
                <p class="mr-3"><i class="fa-regular fa-comment"></i><%= blog.blog_comments.count %>&nbsp;<i class="fa-regular fa-heart"></i>&nbsp;<%= blog.favorites.count %></p>
                <div id="favorite_buttons_<%= blog.id %>">
                  <%#= render "customer/favorites/favorites", blog: blog %>
                </div>
              </div>
              <div class="d-flex align-items-center" style="font-size: 18px;">
                <p><%= blog.customer.first_name %>&emsp;<%= blog.created_at.strftime('%Y/%m/%d') %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>