
<div class="container">
  <div class="row">
      <div class="col-6 text-center">
        <h1>ブログ詳細ページ</h1>
        <%= image_tag @blog.get_image, style: "width: 300px; height: 300px;" %>
        <p>店名：<%= @blog.name %></p>
        <p>コメント：<%= @blog.description %></p>
        <p>ユーザーネーム：<%= link_to "#{@blog.customer.last_name} #{@blog.customer.first_name}", customer_blogs_admin_blogs_path(@blog.customer) %></p>
        <p>投稿日：<%= @blog.created_at.strftime('%Y/%m/%d') %></p>
        <%= link_to '投稿を削除', admin_blog_path(@blog), method: :delete, data: { confirm: '本当に削除しますか？' } %>
      </div>
      <div class="col-6 text-center">
        <h1>この投稿のコメント一覧</h1>
        <% @blog.blog_comments.each do |blog_comment| %>
        <div class="card shadow-sm mb-3" style="width: 100%;">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-start">
              <div class="text-end"><%= blog_comment.customer.first_name %></div>
              <div><%= link_to '削除', admin_blog_comment_path(blog_comment.blog, blog_comment), method: :delete, data: { confirm: '本当に削除しますか？' } %></div>
            </div>
            <p class="text-center" style="font-size: 30px;">
              <strong>
                <%= blog_comment.comment %>
             </strong>
            </p>
            <div class="d-flex justify-content-end mt-2">
              <div class="text-start"><%= blog_comment.created_at.strftime('%Y/%m/%d') %></div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
  </div>
</div>
