<!DOCTYPE html>
<html>
  <head>
    <title>Cafetrace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/6781c6f16f.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--<link rel="stylesheet" type="text/css" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/reset.css">-->
    <!--<link rel="stylesheet" type="text/css" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/5-1-2/css/5-1-2.css">---->
    <!--<link rel="icon" type="favicons/favicon.ico.png" sizes="32x32" href="/favicon.ico.png">-->
    <!--<link rel="icon" type="favicons/favicon.ico.png" sizes="16x16" href="/favicon.ico.png">-->
    <%= favicon_link_tag 'favicons/favicon.ico.png', sizes: '32x32', type: 'image/png' %>

  </head>



  <body>
    <%= yield %>
  </body>
</html>
