<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cafetrace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/6781c6f16f.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/reset.css">
    <link rel="stylesheet" type="text/css" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/5-1-2/css/5-1-2.css">
  </head>

  <body>
    <!--<div class="container-fluid">-->
      <div class="row">
        <div class="col-md-3 sidebar" style="background-color:#808080">
          <!--<div id="container">-->
            <!--<header id="header">-->
              <h1>menu</h1>
                <nav>
                <ul>
                  <li><%= link_to "Top", root_path %></li>
                  <li><a href="#">About</a></li>
                  <li class="has-child"><a href="#">Service</a>
                    <ul>
                    <li><a href="#">Service Top</a></li>
                    <li><a href="#">Service-1</a></li>
                    <li class="has-child"><a href="#">Service-2</a>
                      <ul>
                        <li><a href="#">Service-2 Top</a></li>
                        <li><a href="#">Service-2-1</a></li>
                        <li><a href="#">Service-2-2</a></li>
                        <li><a href="#">Service-2-3</a></li>
                        <li><a href="#">Service-2-4</a></li>
                      </ul>
                      </li>
                    <li><a href="#">Service-3</a></li>
                    </ul>
                  </li>
                  <li class="has-child"><a href="#">Blog</a>
                    <ul>
                    <li><a href="#">Blog Top</a></li>
                    <li><a href="#">Blog-1</a></li>
                    <li><a href="#">Blog-2</a></li>
                    <li><a href="#">Blog-3</a></li>
                    <li><a href="#">Blog-4</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            <!--</header>-->
          <!--</div>-->
        </div>
        <div class="col-md-9 main-content">
          <%= yield %>
        </div>
      </div>


      

    <!--<div class="content">-->
    <%#= yield %>
    <!--</div>-->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <!--自作のJS-->
  <script src="js/5-1-2.js"></script>
  </body>
</html>
